body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#card {
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50vw;
    background-color: rgb(227, 229, 237);
    display: grid;
    gap: 20px;
}

.container-test {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

#txt {
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid rgb(0, 86, 157);
    outline: none;
    border-radius: 6px;
}

#txt:hover {
    background-color: rgb(239, 243, 242);
}

#my-btn {
    padding: 10px;
    border: none;
    background-image: linear-gradient(45deg, rgb(0, 0, 168), rgb(59, 59, 167));
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#my-btn:hover {
    opacity: 0.8;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bar {
    background-color: rgba(255, 255, 255, 0.284);
    padding: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.bar:hover{
    background-color: rgba(255, 255, 255, 0.544);
}

.bar label {
    color: black;
    flex: 1;
    text-align: left;
    overflow-wrap: break-word;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    border: none;
    background-image: linear-gradient(45deg, rgb(0, 0, 168), rgb(59, 59, 167));
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    min-width: 70px;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.8;
}

.edit-btn:active,
.delete-btn:active {
    background-image: linear-gradient(45deg, rgb(0, 0, 168), rgb(52, 52, 236));
}
